* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

body {
    background: #000;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000;
}

.knob {
    width: 80px;
    height: 80px;
    cursor: pointer;
    position: relative;
    border-radius: 50%;
    background: #fff;
    transition: transform 0.1s ease-out;
}

.knob:before {
    content: '';
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    width: 3px;
    height: 20px;
    background: #000;
    border-radius: 2px;
}

.knob:active {
    transform: scale(0.95);
}