* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    background: #f0f0f0;
}

.plugin-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../imgs/sas2-ui-bg.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
}

.knob-container {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.knob {
    cursor: pointer;
    position: absolute;
    background-image: url('../imgs/sas2-ui-knob.png');
    background-repeat: no-repeat;
    background-size: 310px 310px;
    width: 310px;
    height: 310px;
    transition: transform 0.1s ease-out;
    transform-origin: 155px 155px;
}

.knob:active {
    transform: scale(1.0);
}